<!DOCTYPE html>
<html lang="en">
<head>
    <title>About Us</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" media="screen" href="css/reset.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/grid.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/cycle.css">
    <link href='http://fonts.googleapis.com/css?family=Passion+One:400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>
    <script src="js/jquery-1.7.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.cycle.all.js"></script>
    <script>
		jQuery(document).ready(function() {
			$('#s2').cycle({ 
				fx:     'fade', 
				speed:  'slow', 
				pager:  '#nav',
				timeout: 8000, 
			});
		});
	</script>
	
</head>
<body>
<div class="main">
<header> 
    <h1><a href="index.html"><img src="images/logo1.png" height="50%" width="50%" alt=""></a></h1> 
</header>  
<!--==============================content================================-->
    <section id="content">
    	<div class="header-block">
            <nav>  
              <ul class="menu">
                    <li><a href="index.html">Home</a></li>
                    <li class="current"><a href="about.html">Events</a></li>
                    <li><a href="../Front/Blocs.php">Blocs</a></li>
                    <li><a href="products.html">Products</a></li>
                    <li><a href="contacts.html">Contacts</a></li>
                </ul>
            </nav>
            <div class="cycle">
                <div id="s2">
                    <div><div class="banner">Vivez L'experience avec<span>Land'Na</span></div></div>  
                    <div><div class="banner">Rejouissez-vous avec<span>Land'Na</span></div></div>
                    <div><div class="banner">Divertissez-vous avec<span>Land'Na</span></div></div></div>
              <div id="nav"></div>
            </div>
        </div>
    	<div class="container_24 top-3">
        	<div class="grid_24 align-c">
				<h2 class="h2-2">Our team:</h2>
            </div>   
            <div class="grid_8 top-1">
				<div class="box-2">
                	<img src="images/page2-img1.jpg" alt="" class="img-indent img-border">
                    <div class="extra-wrap">
                    	<p>Vivamus hendrerit mauris ut dui gravida ut viverra lectus tincidunt. Cras mattis tempor eros nec <br>tristique.</p>
                        <strong>Richard Smith</strong><br>
                        <span>marketolog</span>
                    </div>
                </div>
                <div class="box-2 top-4 p2">
                	<img src="images/page2-img2.jpg" alt="" class="img-indent img-border">
                    <div class="extra-wrap">
                    	<p>Vivamus hendrerit mauris ut dui gravida ut viverra lectus tincidunt. Cras mattis tempor eros nec <br>tristique.</p>
                        <strong>John Johnson</strong><br>
                        <span>developer</span>
                    </div>
                </div>
                <a href="#" class="link-1">read more</a>
            </div>
            <div class="grid_8 top-1">
				<div class="box-2">
                	<img src="images/page2-img3.jpg" alt="" class="img-indent img-border">
                    <div class="extra-wrap">
                    	<p>Vivamus hendrerit mauris ut dui gravida ut viverra lectus tincidunt. Cras mattis tempor eros nec <br>tristique.</p>
                        <strong>Sara Green</strong><br>
                        <span>manager</span>
                    </div>
                </div>
                <div class="box-2 top-4">
                	<img src="images/page2-img4.jpg" alt="" class="img-indent img-border">
                    <div class="extra-wrap">
                    	<p>Vivamus hendrerit mauris ut dui gravida ut viverra lectus tincidunt. Cras mattis tempor eros nec <br>tristique.</p>
                        <strong>Jessica Cox</strong><br>
                        <span>layer</span>
                    </div>
                </div>
            </div>    
            <div class="grid_8 top-1">
				<div class="box-2">
                	<img src="images/page2-img5.jpg" alt="" class="img-indent img-border">
                    <div class="extra-wrap">
                    	<p>Vivamus hendrerit mauris ut dui gravida ut viverra lectus tincidunt. Cras mattis tempor eros nec <br>tristique.</p>
                        <strong>April Nelson</strong><br>
                        <span>pr director</span>
                    </div>
                </div>
                <div class="box-2 top-4">
                	<img src="images/page2-img6.jpg" alt="" class="img-indent img-border">
                    <div class="extra-wrap">
                    	<p>Vivamus hendrerit mauris ut dui gravida ut viverra lectus tincidunt. Cras mattis tempor eros nec <br>tristique.</p>
                        <strong>Thom Black</strong><br>
                        <span>investor</span>
                    </div>
                </div>
            </div>  
            <div class="clear"></div>      
            <div class="grid_15 top-2">
            	<h2 class="h2-3">latest news</h2>    
                <div class="box-3">
                	<div class="box-3-1">
                    	<strong>22<span>Aug.</span></strong>
                        <div class="extra-wrap">
                        	<span>Vivamus endrerit mauris ut dui gravida ut lectus tincidunt</span>
							<p>Cras mattis tempor eros nec tristique. 
Sed sed felis arcu, vel vehicula augue maecenas. sagittis cursus. Fusce tincidunt </p>
							<a href="#" class="link-1">read more</a>
                        </div>
                    </div>
                    <div class="box-3-2">
                    	<strong>18<span>Aug.</span></strong>
                        <div class="extra-wrap">
                        	<span>Vivamus endrerit mauris ut dui gravida ut lectus tincidunt</span>
							<p>Cras mattis tempor eros nec tristique. 
Sed sed felis arcu, vel vehicula augue maecenas. sagittis cursus. Fusce tincidunt </p>
							<a href="#" class="link-1">read more</a>
                        </div>
                    </div>
                    <div class="box-3-3 last">
                    	<strong>12<span>Aug.</span></strong>
                        <div class="extra-wrap">
                        	<span>Vivamus endrerit mauris ut dui gravida ut lectus tincidunt</span>
							<p>Cras mattis tempor eros nec tristique. 
Sed sed felis arcu, vel vehicula augue maecenas. sagittis cursus. Fusce tincidunt </p>
							<a href="#" class="link-1">read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid_8 prefix_1 top-2">
            	<h2 class="h2-3">testimonials:</h2>    
                <div class="testimonials top-5">
                	<div class="testimonials-block">
                    	<p><img src="images/comma-1.png" alt=""> Vivamus hendrerit mauris ut dui gravida ut viverra lectus tincidunt. Cras mattis tempor eros nec tristique. Sed sed felis arcu, vel vehicula augue. <img src="images/comma-2.png" alt=""></p>
                    	<div class="corner"></div>
                    </div>
                    <span><strong>John Silver</strong>(sailor)</span>
                </div>
                <div class="testimonials top-5">
                	<div class="testimonials-block">
                    	<p><img src="images/comma-1.png" alt=""> Mattis tempor eros nec tristique. Sed sed felis arcu, vel vehicula augue. Maecenas faucibus sagittis cursus. Fusce tincidunt, tellus eget tristique cursus, orci mi iaculis. <img src="images/comma-2.png" alt=""></p>
                    	<div class="corner"></div>
                    </div>
                    <span><strong>Thom Ford</strong>(designer)</span>
                </div>
            </div>    
            <div class="clear"></div>
        </div>
    </section> 
<!--==============================footer=================================-->
  <footer>
      <p><strong>Action</strong> <span>© 2012</span></p>
      Website Template designed by <a href="http://store.templatemonster.com?aff=netsib1" target="_blank" rel="nofollow" class="link">TemplateMonster</a>
  </footer>	
</div>  
</body>
</html>